/* All styles for your header Components live here */

.header-container {
    margin: 5px;
    display: flex;
    .thumbnail-wrapper {
        height: 50px;
        padding: 0.3rem;
        .thumbnail-image {
            height: 100%;
        }
    }
    .header-content-wrapper {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0 2%;
        .title-wrapper {
            display: flex;
            align-items: center;
            .author {
                padding: 0 0.2rem; 
                font-size: 15px;
                font-weight: 600;
            }
            p {
                padding: 0 0.2rem;
                font-size: 13px;
                font-weight: 400px;
                color: grey;
            }
        }
        .header-content {
            margin: 15px 5px;
        }
    }
}